.benefits__container {
  margin-bottom: 14rem;
}

.benefits__list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 11rem;
  counter-reset: number 0;
}

.benefits-list__item {
  position: relative;
  grid-column: 4 span;
  max-width: 30.8rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: 0.05em;
  color: var(----text-color);
  counter-increment: number;
  padding-left: 5rem;
}

.benefits-list__item::before {
  content: counter(number);
  position: absolute;
  font-weight: 700;
  font-size: 17.6rem;
  line-height: 19.6rem;
  color: rgba(90, 90, 90, 0.5);
  opacity: 0.5;
  top: -23%;
  left: -8%;
}

.benefits-list__item:first-child::before {
  left: -3%;
}
