<section class="benefites">
  <div class="container benefits__container">
    <div class="ul list-reset benefits__list">
      <li class="benefits-list__item">
        Осуществляемые компанией «Экми-Мебель» постоянные инвестиции в сертификацию своей продукции, убедительно подтверждают лидерство компании на украинском рынке высококачественной мягкой мебели.
      </li>
      <li class="benefits-list__item">
        Фабрика «Экми-мебель» сертифицирована по системе менеджмента качества ISO 9001:2000 на соответствие международным стандартам, представительством «Бюро Веритас» в Украине.
      </li>
      <li class="benefits-list__item">
        Компания «Экми-Мебель» первой из украинских производителей мягкой мебели обеспечила свою мебель полноценной  гарантией и первой обоснованно заявила о лучшем качестве производимой мебели.
      </li>
    </div>
  </div>
</section>
