<section class="company">
  <div class="container company__container">
    <ul class="list-reset company__list">
      <li class="company-list__item">
        <a href="#" class="company-list__link">
          <img loading="lazy" src="img/svg/Vogue_Logo.svg" class="image" width="352" height="89" alt="Логотип Vogue">
        </a>
      </li>
      <li class="company-list__item">
        <a href="#" class="company-list__link">
          <img loading="lazy" src="img/svg/Apple_Logo.svg" class="image" width="97" height="89" alt="Логотип Apple">
        </a>
      </li>
      <li class="company-list__item">
        <a href="#" class="company-list__link">
          <img loading="lazy" src="img/svg/Zara_Logo.svg" class="image" width="211" height="89" alt="Логотип Zara">
        </a>
      </li>
      <li class="company-list__item">
        <a href="#" class="company-list__link">
          <img loading="lazy" src="img/svg/Samsung_Logo.svg" class="image" width="262" height="89" alt="Логотип Samsung">
        </a>
      </li>
    </ul>
  </div>
</section>
