<header class="header">
  <div class="container header__container">
    <div class="ul list-reset header__list">
      <li class="header__item">
        <a href="#catalog" class="link header-item__link" data-scroll>Каталог</a>
      </li>
      <li class="header__item">
        <a href="#individual" class="link header-item__link" data-scroll>Индивидуальная мебель</a>
      </li>
      <li class="header__item">
        <a href="#" class="link header-item__link">Контакты</a>
      </li>
      <li class="header__item">
        <a href="" class="header-item__logo logo">
        <img loading="lazy" src="img/svg/Logo.svg" class="image" width="216" height="66" alt="Логотип EKMI">
      </a>
      </li>
      <li class="header__item">
        <a href="#about" class="link header-item__link" data-scroll>О компании</a>
      </li>
      <li class="header__item">
        <a href="tel:+380996384537" class="link header-item__link">+38 (099)-638-45-37</a>
      </li>
      <li class="header__item">
        <button class="btn-reset header-item__btn">RU</button></li>
    </div>
  </div>
</header>
