<header class="header">
  <div class="container header__container">
    <div class="ul list-reset header__list">
      <li class="header__item">
        <div class="choice">
          <select class="select" name="language">
            <a href="" class="header-item__link">
              <option disabled>Каталог</option>
            </a>
            <a href="" class="link select__link">
              <option value="">Диваны</option>
            </a>
            <a href="" class="link select__link">
              <option value="">Кресла</option>
            </a>
            <a href="" class="link select__link">
              <option value="">Стулья</option>
            </a>
            <a href="" class="link select__link">
              <option value="">Кровати</option>
            </a>
            <a href="" class="link select__link">
              <option value="">Матрацы</option>
            </a>
            <a href="" class="link select__link">
              <option value="">Пуфы</option>
            </a>
            <a href="" class="link select__link">
              <option value="">Эксклюзивная мебель</option>
            </a>
            <a href="" class="link select__link">
              <option value="">2D - 3D модели</option>
            </a>
        </select>
        </div>
      </li>
      <li class="header__item">
        <a href="#catalog" class="link header-item__link" data-scroll>Индивидуальная мебель</a>
      </li>
      <li class="header__item">
        <a href="#" class="link header-item__link">Контакты</a>
      </li>
      <li class="header__item">
        <a href="" class="header-item__logo logo">
        <img loading="lazy" src="img/svg/Logo.svg" class="image" width="216" height="66" alt="Логотип EKMI">
      </a>
      </li>
      <li class="header__item">
        <a href="#about" class="link header-item__link" data-scroll>О компании</a>
      </li>
      <li class="header__item">
        <a href="tel:+380996384537" class="link header-item__link">+38 (099)-638-45-37</a>
      </li>
      <li class="header__item">
        <button class="btn-reset header-item__btn">RU</button></li>
    </div>
  </div>
</header>
