<section class="history">
  <div class="container history__container">
    <h2 class="title history__title">Наша история</h2>
    <div class="history__inner">
      <div class="history__content">
        <p class="paragraph-reset history-content__paragraph">Наработки длинной в 25 лет</p>
        <p class="paragraph-reset history-content__text">
          Каждый производитель заявляет, что делает все для своих покупателей, но не каждый производитель способен подтвердить свои заявления многолетней историей
        </p>
      </div>
      <div class="history__box">
        <picture>
          <source srcset="/img/history.webp" type="image/webp">
          <img loading="lazy" src="/img/history.jpg" class="image history-box__img" width="800" height="543" alt="">
        </picture>
      </div>
    </div>
    <div class="history__wrapp">
      <p class="paragraph-reset history-wrapp__text">1993</p>
      <p class="paragraph-reset history-wrapp__descr">25 лет </p>
      <p class="paragraph-reset history-wrapp__paragraph">2021</p>
    </div>
  </div>
</section>
