<section class="individual">
  <div class="individual__blue">
    <picture>
      <source srcset="/img/individual.webp" type="image/webp">
      <img loading="lazy" src="/img/individual.jpg" class="image individual__img" width="600" height="401" alt="Фотография дивана">
    </picture>
  </div>
  <div class="individual__dark">
    <div class="individual__box">
    <h2 class="title individual-dark__title">Индивидуальная
      мебель</h2>
      <p class="paragraph individual-dark__text">Полный цикл производства.</p>
      <p class="paragraph individual-dark__paragraph">Качество мягкой мебели начинается задолго до начала ее производства.</p>
      <button class="btn btn-reset indnvidual-dark__btn">Индивидуальная мебель</button>
    </div>
  </div>

</section>
<div class="individual__content"></div>

