<section class="partners">
  <div class="partners__dark">
    <div class="partners-dark__contetnt">
      <h3 class="partners-dark__title">Компании сотрудничают с нами по всему миру</h3>
      <p class="paragraph partners-dark__paragraph">
        На данный момент дилерская сеть фабрики «Экми-Мебель» насчитывает более 30 салонов по всей Украине. Сейчас мы
        заинтересованы в расширении сети и предлагаем выгодные условия для сотрудничества.
      </p>
      <p class="paragraph partners-dark__paragraph">
        Основным преимуществом фабрики является изготовление любого индивидуального изделия, мягкой мебели и аксессуаров
        из наших основных коллекций. Также присутствует линейка оригинальных интерьерных корпусных изделий.
      </p>
    </div>
  </div>
  <div class="partners__light">
    <div class="partners-light__content">
      <picture>
        <source srcset="/img/partners.webp" type="image/webp">
        <img loading="lazy" src="/img/partners.jpg" class="image partners-light__img" width="670" height="397" alt="Фотография дивана модель Арни 2">
      </picture>
    </div>
  </div>
</section>
<div class="partners__content"></div>
