<section class="price">
  <div class="container price__container">
    <div class="price__left">
      <picture>
        <source srcset="/img/price.webp" type="image/webp">
        <img loading="lazy" src="/img/price.jpg" class="image price-left__image" width="670" height="478"
          alt="Фотография дивана">
      </picture>
    </div>
    <div class="price__right">
      <p class="paragraph price-right__paragraph">Заполните форму</p>
      <h3 class="price-right__title">остались вопросы?</h3>
      <form action="#" class="form price-right__form">
        <label class="form__label price-right__label">
          <input type="text" name="Ваше имя" class="input-reset form__input input-tname" placeholder="Ваше имя*">
          <input type="tel" name="Ваш телефон" class="input-reset form__input input-tel" placeholder="Ваш телефон*">
          <input type="text" name="Ваша страна" class="input-reset form__input input-region" placeholder="Страна">
          <input type="text" name="Комментарий" class="input-reset form__input input-comment" placeholder="Комментарий">
        </label>
        <div class="price-right__checkbox">
        <input type="checkbox" id="click" class="input-checkbox price-right__click">
        <label for="click" class="price-right__text">Подтверждая заказ, я принимаю условия пользовательского соглашения</label>
      </div>
        <button class="btn-reset btn form__btn price-right__btn">запросить звонок</button>
      </form>
    </div>
  </div>
</section>
