<section class="publications">
  <div class="container publications__container">
    <h2 class="title publications__title">Последние публикации</h2>
    <div class="swiper publications__content">
      <div class="swiper-wrapper">
         <div class="swiper-slide">
          <div class="publications__item">
            <picture>
              <source srcset="/img/publications-1.webp" type="image/webp">
              <img loading="lazy" src="/img/publications-1." class="image publications__img" width="270" height="278" alt="Изображение кресла">
            </picture>
            <a href="#" class="publications__link">Martin</a>
          </div>
         </div>
         <div class="swiper-slide">
          <div class="publications__item">
            <picture>
              <source srcset="/img/publications-2.webp" type="image/webp">
              <img loading="lazy" src="/img/publications-2." class="image publications__img" width="270" height="270" alt="Изображение кресла">
            </picture>
            <a href="#" class="publications__link">Alba</a>
          </div>
         </div>
         <div class="swiper-slide">
          <div class="publications__item">
            <picture>
              <source srcset="/img/publications-3.webp" type="image/webp">
              <img loading="lazy" src="/img/publications-3." class="image publications__img" width="270" height="270" alt="Изображение кресла">
            </picture>
            <a href="#" class="publications__link">Toscana</a>
          </div>
         </div>
         <div class="swiper-slide">
          <div class="publications__item">
            <picture>
              <source srcset="/img/publications-4.webp" type="image/webp">
              <img loading="lazy" src="/img/publications-4." class="image publications__img" width="270" height="270" alt="Изображение кресла">
            </picture>
            <a href="#" class="publications__link">Leonardo</a>
          </div>
         </div>
         <div class="swiper-slide">
          <div class="publications__item">
            <picture>
              <source srcset="/img/publications-1.webp" type="image/webp">
              <img loading="lazy" src="/img/publications-1." class="image publications__img" width="270" height="270" alt="Изображение кресла">
            </picture>
            <a href="#" class="publications__link">Martin</a>
          </div>
         </div>
         <div class="swiper-slide">
          <div class="publications__item">
            <picture>
              <source srcset="/img/publications-2.webp" type="image/webp">
              <img loading="lazy" src="/img/publications-2." class="image publications__img" width="270" height="270" alt="Изображение кресла">
            </picture>
            <a href="#" class="publications__link">Alba</a>
          </div>
         </div>
         <div class="swiper-slide">
          <div class="publications__item">
            <picture>
              <source srcset="/img/publications-3.webp" type="image/webp">
              <img loading="lazy" src="/img/publications-3." class="image publications__img" width="270" height="270" alt="Изображение кресла">
            </picture>
            <a href="#" class="publications__link">Toscana</a>
          </div>
         </div>
      </div>
      <div class="publications__slider-btn--next"></div>
      <div class="publications__slider-btn--prev"></div>

      <!-- <div class="publications__nav">
        <div class="publications__btns">
          <button class="btn-reset publications__slider-btn publications__slider-btn--prev" aria-label="Перейти к предыдущему слайду"></button>
          <button class="btn-reset publications__slider-btn publications__slider-btn--next" aria-label="Перейти к слелующему слайду"></button>
        </div>
      </div> -->
    </div>
  </div>
</section>
